

@media screen and (max-width:1000px) {
    .first-div{
        /* display: none; */
    }
    .nav-mobile{
        display: block;
    }
    /* first-section starts here */
    .first-leftdiv ul {
        display: none;
    }
    .first-leftdiv{
        /* display: none; */
    }
    .first-leftdiv h1{
        padding-top:10px;
        font-size:30px;
        color: var(--white-color);
    }
    .first-div{
        height: 700px;
        background: url(./img/header-1.png);
        background-position:center;
        background-size:cover;
        /* position:fixed; */
    }
    .first-rightdiv{
        display: none;
    }
    .arrow {
        text-align: center;
        color: var(--white-color);
    }
    .arrow i {
        border: 1px solid white;
        color: var(--white-color);
    }
     /* first-section ends here */

     /* second-section starts here */
    .second-text{
        text-align: center;
    }
    .second-text h6{
        width: 100%;
        padding: 30px;
        color: var(--white-color);
        text-align: center;
    }
    .text h1{
        text-align: center;
        color: var(--white-color);
        font-size: 30px;
    }
    .text h5{
        color: var(--white-color);
        text-align: center;
    }
   
    .second-div{
        flex-direction: column;
    }
    .second-div-text{
        /* border:1px solid blue; */
        width: 100%;
        padding: 20px 10px;
    }
    .text1{
        flex-direction: column;
    }
    .text-container{
        width: 100%;
        flex-direction:column;
        /* flex-wrap:wrap; */
    }
    /* second-section ends here */

    /* third-section starts here */
    .section-text{
        display: none;
    }
    .section{
        padding: 20px 0;
    }
    .input{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 2px solid aqua; */
    }
    .input input{
        padding: 15px;
        width: 90%;

    }
    .input button{
        padding: 15px 10px;
        width: 90%;
        margin: 10px 10px;

    }
    /* third-section ends here */
    /* slider-section starts here */
    .container{
        display: none;
    }
    .slide{
        display: flex;
        flex-wrap: wrap;
    }
    .slide-img{
        margin-bottom: 40px;
        height: 400px;
        width: 100%;
        padding: 0 20px;

    }
    .slide-img h2{
        padding: 5px 20px;
    }
    /* slider-section ends here  */

    /* inspire-section starts here */
    .inspire-text{
        flex-direction: column;
        display: block;
        flex-direction: column-reverse;
    }
    .angle{
        display: none;
    }
    .inspire{
        display: none;
    }
    .inspiration{
        display: flex;
        
    }
    .inspiration-text{
        padding: 20px 20px;

    }
    .inspiration-text h1{
        padding: 20px 0;
        color: #534B42;

    }
    .inspiration-text h3{
        color: rgba(112, 100, 88, 0.9);
    }
    /* inspire section ends here */
   
    /* footer section starts here */
    .footer-section{
        height: 200%;
        background: ;
    }

    .footer-container{
        height: 180%;
        flex-direction: column;
    }
    .antic h2{
        padding-right: 30px;
        text-align: center;
        font-size: 30px;
    }
    
    .footer-text{
        width: 50%;
        margin-left: 20px;
    }
    .footer-content{
        width: 50%;
        margin-left: 37px;
    }
    .footer-content img{
        width: 150%;
    }
    .footer-content h6{
        font-size: 13px;
        width: 150%;
    }
    .footer-content h3{
        width:120% ;
    }
    .footer-icon-content{
        margin-right: 70px;
    }
    .footer-bottom{
        display: none;
    }
    .bottom-footer{
        width: 70%;
        color:  rgba(112, 100, 88, 1);;
        display: flex;
        padding-left: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
        /* flex-direction: column; */
    }
    .bottom-end{
        padding: 20px 3px;
        display: flex;
        color:  rgba(112, 100, 88, 1);;
        width: 55%;
        flex-wrap: wrap;
        margin-left: 30px;
        /* flex-direction: column; */
    }
    .bottom-end h5{
        padding: 0 3px;
    }
    /* footer section ends here */
    
    

}
    

