/*===major fixes starts here*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
img{
    height: 100%;
    width: 100%;
}
body{
    height: 2500px;
    font-family: 'Merriweather', serif;
}
/*===major fixes ends here*/



/*===first section starts here*/

.first-div{
    /* border:3px solid blue; */
    height:600px;
    width:100%;
    background: #F3EEE8;
    position: relative;
}
.first-rightdiv{
    /* border: 3px solid red; */
    height: 100%;
    width: 50%;
    background:url("./img/header-1.png");
    background-size: cover;
    background-position:center;
    float: right;
}
.first-leftdiv{
    /* border: 3px solid red; */
    display: flex;
    padding: 30px 0;
    
    
}
.first-div h1{
    padding: 0 50px;
    color: #A06056;;
}
.first-leftdiv ul {
    width: 60%;
    /* border: 3px solid black; */
    list-style:none;
    display: flex;
    padding: 10px;
    margin-left: 10px;
    color:rgba(112, 100, 88, 1);
    justify-content: space-evenly;

}
.first-leftdiv a{
    text-decoration: none;
    color: rgba(112, 100, 88, 0.9);
}
.second-text h6{
    /* border: 3px solid tomato; */
    width: 30%;
    padding: 30px 100px;
    color: #A06056;
    /* margin: 0px; */

}

.text h1{
    /* border: 3px solid purple; */
    padding: 15px 80px;
    
}
.text h5{
    padding: 30px 80px;
    color: rgba(112, 100, 88, 0.9);
}
.arrow i{
    border: 2px solid #A06056;
    margin: 30px 100px;
    width: 30px;
    padding: 5px 5px;
    color: #A06056;
    border-radius:30px;
}
/*===first section ends here*/

/*===nav-mobile section starts here*/
.nav-mobile{
    /* border: 2px solid purple; */
    display: none;
    /* height: 670px; */
}
.nav-text h1{
    color: var(--white-color);
}

.hamburger-container{
    /* border: 3px solid red; */
    height: 30px;
    width: 30px;
    display: flex; 
    border-radius: 50%;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 10px;
    margin: 25px 0;
    /* background:var(--white-color); */
}
.menu{
    width:100%;
    height:3px;
    background:var(--white-color);
    position:relative;

}
.menu::before{
    content:'';
    /* background: var(--white-color); */
    width: 100%;
    height: 3px;
    position: absolute;

    transform:translateY(-10px);
}
.menu::after{
    content:'';
    width:100%;
    height:3px;
    background:var(--white-color);
    position:absolute;
    transform:translateY(10px);
}
.showbutton .menu{
    background:transparent;
}
.showbutton .menu::before{
    transform: rotate(45deg);
    background: var(--white-color);
}
.showbutton .menu::after{
    transform: rotate(-45deg);
    background: var(--white-color);
}
.mobile{
    /* border: 2px solid green; */
    transition: all 0.2s ease;
    transform: translateX(102%);
    display: none;
    /* height: 65%; */
    /* position: fixed; */
    width: 100%;
    /* padding-top: 100px; */
    top: 0;
    right:0;
    z-index: 3;

}
.showmobile{
    display: block;
    transform: translateX(0);
}
.mobile-content ul{
    list-style: none;

}
.mobile-content  a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color:#534B42;
    background:  #F3EEE8;
}
.mobile-content a:hover{
    background: transparent;
    color:var(--white-color);
}


/*===nav section ends here*/



/*===second  section starts here*/


.second-div{
    /* border: 3px solid turquoise; */
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    background: #F3EEE8;
    
}
.second-div-text{
    /* border: 3px solid blue; */
    width: 80%;
    padding:40px 100px;
    font-size:20px;
    color: rgba(112, 100, 88, 0.9);
}
.icon{
    color:#A06056;
    padding:10px 0;
}
.text-container{
    /* border: 3px solid black; */
    width: 80%;
    margin: 0 auto;
    padding: 5px 5px;
}
.text1{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}
.text-content{
    padding: 15px;
    width: 100%;
    /* display:flex; */

}
.text-content h3{
    color: #A06056;
    
}
.text-content h5{
    color: rgba(112, 100, 88, 0.9);
}
/*===section section ends here*/


/*=== third- section starts here*/

.section{
    /* border: 3px solid purple; */
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 40px 100px;
    /* margin: 0 30px; */
}
.section-text p{
    color: rgba(112, 100, 88, 0.9);

}
.section-text h6{
    color: #A06056;
}
.section-text h2{
    color:#121212;

}
.input input{
    /* border: 3px solid black; */
    height: 30px;
    width: 70%;
    padding: 0 10px;
    border: none;
    background: rgba(243, 238, 232,0.3);
}
.input button{
    background:#534B42;
    border: none;
    color:var(--white-color);
    padding: 10px 10px;
}
.input button:hover{
    background: rgba(243, 238, 232,0.3);
    color: #000;
}

/*===third section ends here*/


/*===slider section starts here*/
.container{
    position: relative;
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.swiper{
    width: 80%;
    height: 400px;
}

.swiper-slide img{
    width: 80%;
}
/* slider-section ends here */


/* inspire-section starts here */

.inspire{
    /* border: 3px solid tomato; */
    height: 200px;
    width: 100%;
    margin: 0 auto;
    
    /* display: flex; */
}
.inspire-text{
    /* border: 3px solid green; */
    height: 250px;
    /* margin: 0 auto; */
    width: 90%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    color: #534B42; 

}
.slider-arrow{
    /* border: 3px solid turquoise; */
    padding: 10px 0;
    display: flex;
}
.prev, .next{
    cursor: pointer;
    border: 1px solid #A06056;
    /* height: 20px; */
    margin: 0px 5px;
    top:40%;
    /* width: 20px; */
    padding: 6px 15px;
    color: #A06056;
    font-weight: 100;
    font-size: 18px;
    border-radius:50%;
    transition:0.6s ease;
    user-select: none;


}
.prev:hover, .next:hover{
    background: var(--light-grey-color);

}
.inspiration{
    display: none;
}
.slide{
    display: none;
}
/*===inspire section ends here*/


/*===footer section starts here*/

.footer-section{
    /* border: 3px solid purple; */
    background: #F3EEE8;
    height: 700px;
    width: 100%;

}
.footer-container{
    /* border:2px solid yellow; */
    display:flex;
    height:400px
    width:90%;
    padding:30px 0;

}

.footer-content{
    /* border:2px solid green; */
    width:30%;
    color: rgba(112, 100, 88, 1);
    /* padding:20px 0; */
}
.footer-content h3{
    padding:20px 0;

}
.footer-content h6{
    font-size:15px;
    width: 100%;
    padding:15px 0; 
}
.footer-content img{
    height:100px;
    width:70%;
}
.footer-text{
    /* border:2px solid red; */
    color: rgba(112, 100, 88, 1);
    margin-left: 10px;
    width: 20%;
    padding-left: 20px;
}
.footer-text h3{
    padding:20px 0;
}
.footer-text h6{
    padding:5px 0;
    /* line-height:1.5; */
    font-size:13px;
    /* width:50%; */
}
.antic{
    /* border:3px solid gray; */
    margin-left:10%;
}
.antic h2{
    color: rgba(112, 100, 88, 1);
    /* margin-left: 10%; */
    padding:17px 0;
    font-size:25px;
    font-weight:40%;
}
.footer-icon-container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-icon-content i{
    border: 2px solid  #A06056;
    margin-left: 20px;
    border-radius: 100%;
    color: #534B42; 
    padding: 5px 5px;
}

.footer-bottom{
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;

}
.footer-bottom p{
    color: rgba(112, 100, 88, 0.7);

}
.bottom{
    display: flex;
    
    /* margin-left: 20px; */
}
.bottom p{
    margin-left: 10px;
    color: rgba(112, 100, 88, 0.7);
}
.bottom-end{
    display: none;
}
.bottom-footer{
    display: none;
}

/*===footer section ends here*/